### while  
- its executes block or set of instructions until the condition is false  
- while we dont the range  
- executes faster than the for loop  
- user incrementation

In [ ]:
#while syntax  
initilization  
while condition:  
    statements
    incr/decrement

In [2]:
n=1
while n<=5:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [3]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [1]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1
    s=s//10
print("\ndigit count:",c)

1234

digit count: 4

In [6]:
# check the given number is palindrome or not
# 121--121
# mom--mom
n=int(input())
temp=n
rev=0
while n!=0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome number")
else:
     print("not palindrome number")

212
palindrome number

In [ ]:
# syntax::Nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statement2
        ----------
        statementn

In [ ]:
# matrix format
- rows and columns
- two dimensions
    1 2 3
    4 5 6

In [8]:
# matrix
for row in range(1,4):
    for column in range(1,4):
        print(row,end=" ")
    print()

1 1 1
2 2 2
3 3 3

In [11]:
for row in range(5,8):
    for column in range(5,8):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [12]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
# 1-10
# prime numbers:2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):
        c=0
        for var in range(1,num+1):
            if(num%var==0):
                c=c+1
        if(c==2):
            print(num,end=" ")

1
10
2 3 5 7

## nested while
- loop inside another loop

In [ ]:
# syntax
initilizatyion
while condition:
    statements
    incr/decrement
    while condition:
        statements
        incr/decrement

In [6]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [7]:
# print 1-10 tables by using for loop
for i in range (1,11):
    for j in range (1,11):
        print(i,"*","=",i*j)
        j+=1
    print()
    i+=1

1 * = 1
1 * = 2
1 * = 3
1 * = 4
1 * = 5
1 * = 6
1 * = 7
1 * = 8
1 * = 9
1 * = 10

2 * = 2
2 * = 4
2 * = 6
2 * = 8
2 * = 10
2 * = 12
2 * = 14
2 * = 16
2 * = 18
2 * = 20

3 * = 3
3 * = 6
3 * = 9
3 * = 12
3 * = 15
3 * = 18
3 * = 21
3 * = 24
3 * = 27
3 * = 30

4 * = 4
4 * = 8
4 * = 12
4 * = 16
4 * = 20
4 * = 24
4 * = 28
4 * = 32
4 * = 36
4 * = 40

5 * = 5
5 * = 10
5 * = 15
5 * = 20
5 * = 25
5 * = 30
5 * = 35
5 * = 40
5 * = 45
5 * = 50

6 * = 6
6 * = 12
6 * = 18
6 * = 24
6 * = 30
6 * = 36
6 * = 42
6 * = 48
6 * = 54
6 * = 60

7 * = 7
7 * = 14
7 * = 21
7 * = 28
7 * = 35
7 * = 42
7 * = 49
7 * = 56
7 * = 63
7 * = 70

8 * = 8
8 * = 16
8 * = 24
8 * = 32
8 * = 40
8 * = 48
8 * = 56
8 * = 64
8 * = 72
8 * = 80

9 * = 9
9 * = 18
9 * = 27
9 * = 36
9 * = 45
9 * = 54
9 * = 63
9 * = 72
9 * = 81
9 * = 90

10 * = 10
10 * = 20
10 * = 30
10 * = 40
10 * = 50
10 * = 60
10 * = 70
10 * = 80
10 * = 90
10 * = 100

## jump statements
- we called as unconditional jumps
    - break
    - continue
    - pass

###  break
- Terminates the current loop statements
- break is a keyword

In [12]:
for i in"python":
    if i=='o':
        break
    print(i)

p
y
t
h

In [2]:
i=1
while i<=10:
    i+=1
    if i==6:
        break
    print(i)

2
3
4
5

## continue
- it skips only current iteration and continue the next iteration
- continue is also a keyword

In [2]:
for i in range (10):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [3]:
i=1
while i<=10:
    i+=1
    if i==6:
        continue
    print(i)

2
3
4
5
7
8
9
10
11

In [4]:
# print odd numbers using even number condition using continue statement
for i in range (1,10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

## pass
- it is a keyword
- when we need the condition scientifically correct need to change another operation 
- it is a null operation
- pass statement we use to create empty classes also

In [8]:
s="python"
for i in s:
    if i=='n':
        pass
        print("pass executed")
    print(i)

p
y
t
h
o
pass executed
n

## string
- string is a group of characters
- string is a derived data type and immutable
- all string returns a new value

In [15]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [16]:
print(len(a))

13

In [17]:
print(min(a))
print(max(a))
print(sorted(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [18]:
s="jyothika"
s1="dhana lakshmi"
print(s+s1)
print(s,s1)
print(s*s1)

jyothikadhana lakshmi
jyothika dhana lakshmi

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works